* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start {
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.start-txt {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', cursive;
  width: 500px;
  height: 300px;
  background-color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container {
  background-image: url('img/background.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
}

.score, .timer {
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
}

#spaceship {
  position: relative;
  width: 80px;
  position: absolute;
  bottom: 0;
  left:50%;
}

#alien {
  width: 70px;
  height: 50px;
  position: absolute;
  top:0;
  left: 40px;
  overflow: hidden;
}

#bullet{
  position: absolute;
  bottom: 40px;
  width: 50px;
  height: 40px;
}