* {
  margin: 0;
  padding: 0;
}

.start {
  position: relative;
}
.start-img{
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  width: 100%;
  z-index: 3;
  transition: all 1s ease-in-out;
}



.container {

  background-image: url('img/background.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
}

#spaceship {

  position: relative;
  width: 80px;
  position: absolute;
  bottom: 0;
  left:50%;
}

#alien {
  width: 70px;
  position: absolute;
  top:0;
  overflow: hidden;
}

#bullet{
  position: absolute;
  bottom: 40px;
  width: 20px;
  height: 20px;
}
