* {
  margin: 0;
  padding: 0;
}

.start {
  position: absolute;
  text-align: center;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.start-txt{
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.container {
  background-image: url('img/background.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
}

#spaceship {

  position: relative;
  width: 80px;
  position: absolute;
  bottom: 0;
  left:50%;
}

#alien {
  width: 70px;
  position: absolute;
  top:0;
  left: 40px;
  overflow: hidden;
}

#bullet{
  position: absolute;
  bottom: 40px;
  width: 50px;
  height: 40px;
}
